.conteudo {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;

    justify-content: space-between;

    border-radius: 20px;
    border-style: groove;
    border-color: gray;

    background-image: linear-gradient(to top, rgb(124, 112, 112), rgb(111, 124, 111));
    background: #87999373;
}

section {
    display: flex;
    width: 200px;
    height: 300px;

    justify-content: center;

    margin: 10px;

    border: 2px ridge black;
    border-radius: 5%;
}

section a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.title-filme {
    display: flex;
    position: absolute;
    justify-content: center;
    text-shadow: #ffffffb4 0.1em 0.1em 0.3em;

    width: 200px;
    height: 30px;
    background: #7b7e7e96;

    border-radius: 10px;
    border: 1px solid black;
}

section img {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}