.conteudo {
    display: flex;
    flex-wrap: wrap;
    width: 700px;

    justify-content: center;
    align-items: center;

    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    border-style: groove;
    border-color: gray;

    background-image: linear-gradient(to bottom, #474764, #7c7ca1ec);
    background: #87999373;
}

#section-1 {
    display: flex;

    justify-content: center;
    align-items: center;
}

#secao-1 h1 {
    display: flex;
    justify-content: center;
    text-shadow: rgb(172, 164, 164) 0.1em 0.1em 0.1em;
    margin-bottom: 20px;
}

#secao-1 p {
    margin: 20px;
    color: #000000;
    font-size: 20px;
    text-shadow: #777777 0.5px 0.5px 2px;
}

/* #secao-1 b {
    color: #ccc9b6;
    text-shadow: #000000a6 0 0 2px;
} */

#secao-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secao-2 button {
    display: flex;
    background-color: #101a72;
    color: white;
    width: 120px;
    height: 40px;

    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

#secao-2 button:hover {
    cursor: pointer;
}

#secao-2 h1{
    text-shadow: rgb(172, 164, 164) 0.1em 0.1em 0.1em ;
}

#secao-2 h2{
    color: white;
    font-size: 18px;
    text-shadow: #00000091 0em 0em 0.8em;
}