#conteudo {
    min-height: calc(100vh - 195px);
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;

    flex-direction: column;
    justify-content: flex-start;

    border-radius: 20px;
    border-style: groove;
    border-color: gray;

    background-image: linear-gradient(to top, rgb(124, 112, 112), rgb(111, 124, 111));
    background: #87999373;
}

.user {
    display: flex;
    height: auto;
    width: 675px;

    justify-content: flex-start;

    margin: 10px;
    padding-bottom: 5px;

    border-radius: 15px;
    border-style: groove;
    border-color: black;

    background: #68553e73;
}

.user h1 {
    margin-bottom: 3px;
}

.user-img {
    width: 192px;
    height: 192px;
    border-radius: 10px;
}

.informacoes {
    display: flex;
    min-width: 300px;
    padding: 20px;

    flex-direction: column;
}

.botoes {
    display: flex;
    width: 100%;
    
    padding: 20px;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.botoes form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.botoes button {
    position: relative;
    display: flex;
    background-color: #101a72;
    color: white;
    width: 120px;
    height: 40px;

    margin: 7px;

    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#avaliacoes {
    display: flex;
    height: auto;
    width: 675px;

    flex-direction: column;
    justify-content: flex-start;

    margin: 10px;
    padding-bottom: 5px;

    border-radius: 15px;
    border-style: groove;
    border-color: black;

    background: #68553e73;
}

#avaliados {
    display: flex;

    flex-direction: column;
}

.filme {
    display: flex;
    margin: 15px;
    text-align: center;

    flex-direction: row;
    align-items: center;

    border-radius: 8px;
    background: #7e7e7e67;
}

.filme a {
    text-decoration: none;
    color: black;
}

.dados {
    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

.dados h2 {
    text-shadow: #ffffffb4 0.1em 0.1em 0.3em;
    padding: 0 10px;
}

.valores {
    display: flex;

    align-items: center;
}

.valores h3 {
    margin: 10px;
}

.filme img {
    height: 90px;
    width: 60px;

    border-radius: 8px;
}

.stars {
    display: flex;

    flex-direction: row; 
}

.estrela {
    position: relative;
    height: 24px;
    width: 24px;

    margin-right: 2px;
    background-color: black;
    clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.estrela-cheia {
    position: absolute;
    height: 100%;
    background-color: #ffda44;
}

.encerrar {
    display: flex;
    height: auto;
    width: 675px;

    justify-content: flex-start;
    align-items: center;

    margin: 10px;
    padding: 10px;

    border-radius: 15px;
    border-style: groove;
    border-color: black;

    background: #68553e73;
}

.encerrar button {
    position: relative;
    display: flex;
    background-color: #101a72;
    color: white;
    width: 120px;
    height: 40px;

    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}